@page "/complaint-actions-list"
@using StudentsManagementBlazor.Client.Services;
@using StudentsManagementShared.Models
@inject NavigationManager navigation;
@inject IJSRuntime JsRuntime

<h3>Complaint Actions List</h3>
<hr />
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header"></div>
				@if (!AllComplaintActions.Any())
				{
					<p><em>Loading Complaint Actions...</em></p>
				}
				@if (AllComplaintActions.Any())
				{
					<div class="card-body">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Id</th>
									<th>Complaint Id</th>
									<th>Notes</th>
									<th>Attachment</th>
									<th>Actioned On</th>
									<th>Action Status Id</th>
									<th>Edit</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var complaintaction in AllComplaintActions)
								{
									<tr>
										<td>@complaintaction.Id</td>
										<td>@complaintaction.ComplaintId</td>
										<td>@complaintaction.Notes</td>
										<td>@complaintaction.Attachment</td>
										<td>@complaintaction.ActionedOn</td>
										<td>@complaintaction.ActionStatusId</td>
										<td>
											<a class="btn btn-success" href="/complaint-action/edit/@complaintaction.Id"> Edit </a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				}
				else
				{
					<div class="alert alert-info">There is no Complaint Actions List Available</div>
				}
			</div>
		</div>
	</div>
</div>

@code {
	public List<ComplaintNote> AllComplaintActions { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		await LoadAllComplaintAction();
	}
	public async Task LoadAllComplaintAction()
	{
		var data = await ComplaintActionService.GetAllAsync();

		if (data is null) return;

		AllComplaintActions.Clear();

		AllComplaintActions.AddRange(data);
	}
}
